.task1 {
}

.btn {
  padding: 12px;
  cursor: pointer;
  border: none;
}

.addBtn {
  background-color: green;
}

.deleteBtn {
  background-color: brown;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.inputItem {
  padding: 10px;
}

.todoItemsContainer {
  margin: 15px;
}

.task2 {
}

.task2Items {
  margin: 10px;
}
